extends rss

block variables	
block channel
	link!= get_term_link($podcast)
	language!= get_option( "rss_language" )
	copyright
		:cdata
			<?php echo "&copy;" . date( "Y" ) ?>
	webmaster
		:cdata
			<?php echo get_userdata(1)->user_email . " (" . get_userdata(1)->user_nicename . ")" ?>
	managingeditor
		:cdata
			<?php echo get_userdata(1)->user_email . " (" . get_userdata(1)->user_nicename . ")" ?>
	image
		url
			:cdata
				<?php echo get_field("logo", $podcast) ?>
		title
			:cdata
				<?php echo $podcast->name ?>
		link
			:cdata
				<?php echo get_term_link($podcast) ?>
	- if ( get_field("is_itunes", $podcast) ):
		itunes:owner
			itunes:name
				:cdata
					Game Foss
			itunes:email
				:cdata
					admin@gamefoss.com
		itunes:category(text!=echo('get_field("itunes", $podcast)["category"]'))
			itunes:category(text!=echo('get_field("itunes", $podcast)["subcategory"]'))
		itunes:keywords
			:cdata
				<?php echo get_field("itunes", $podcast)["keywords"] ?>
		itunes:explicit no
		itunes:image(href!=echo('get_field("logo", $podcast)'))
		itunes:author
			:cdata
				<?php echo get_field("itunes", $podcast)["author"] ?>
		itunes:summary
			:cdata
				<?php echo $podcast->description ?>
		itunes:subtitle
			:cdata
				<?php echo get_field("itunes", $podcast)["description"] ?>
	- endif
	atom:link(href!=echo('home_url() . "feed/podcasts/{$podcast->slug}" ') rel='self' type='application/rss+xml')
	pubdate
		:cdata
			<?php echo date("r") ?>
	title
		:cdata
			<?php echo $podcast->name ?>
	description
		:cdata
			<?php echo $podcast->description ?>
	lastbuilddate
		:cdata
			<?php echo date( "r" ) ?>
	
	:php
		$_posts = get_posts( array(
			'post_type'			=> "podcast",
			'numberposts'		=> -1,
			'tax_query'			=> array(
				array(
					'taxonomy'	=> 'podcasts',
					'field'			=> 'id',
					'terms'			=> $podcast->term_id
				)
			)
		) );
	- foreach ( $_posts as $post ):
		item
			- setup_postdata( $post )
			title
				:cdata
					<?php echo get_the_title() ?>
			description
				:cdata
					<?php echo get_the_excerpt() ?>
			- if ( get_field("is_itunes", $podcast) ):
				itunes:summary
					:cdata
						<?php echo get_the_excerpt() ?>
				itunes:subtitle
					:cdata
						<?php echo get_field( "itunes" )["description"] ?>
				itunes:duration
					:cdata
						<?php echo get_field( "itunes" )["duration"] ?>
			- endif
			enclosure(url!=echo('get_field( "mp3" )["url"]') type='audio/mpeg' length!=echo('get_field( "mp3" )["filesize"]'))
			guid
				:cdata
					<?php echo get_field( "mp3" )["url"] ?>
			pubdate
				:cdata
					<?php echo get_the_date( "r" ) ?>
			- wp_reset_postdata()
	- endforeach
