// BREAKPOINTS
@mixin bp($min-size: false, $max-size: false ) {
	@if $min-size {
		@media screen and (min-width: $min-size) {
			@content;
		}
	} @else if $min-size and $max-size {
		@media screen and (min-width: $min-size) and (max-width: $max-size - 1px) {
			@content;
		}
	} @else {
		@media screen and (max-width: $max-size - 1px) {
			@content;
		}
	}
}

// SVG MASK
@mixin svg-mask ($mask-image, $mask-size: contain, $position: center, $repeat: no-repeat) {
	-webkit-mask-image: $mask-image;
	-webkit-mask-size: $mask-size;
	-webkit-mask-position: $position;
	-webkit-mask-repeat: $repeat;

	-khtml-mask-image: $mask-image;
	-khtml-mask-size: $mask-size;
	-khtml-mask-position: $position;
	-khtml-mask-repeat: $repeat;

	-moz-mask-image: $mask-image;
	-moz-mask-size: $mask-size;
	-moz-mask-position: $position;
	-moz-mask-repeat: $repeat;

	-ms-mask-image: $mask-image;
	-ms-mask-size: $mask-size;
	-ms-mask-position: $position;
	-ms-mask-repeat: $repeat;

	-o-mask-image: $mask-image;
	-o-mask-size: $mask-size;
	-o-mask-position: $position;
	-o-mask-repeat: $repeat;
}

// ASPECT RATIO
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
