@import "../partials/partials"; // Sass partials
section#review {
	position: relative;
	overflow: hidden;
	color: $c-white;
	.image {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: center no-repeat;
		background-size: cover;
		@include filter( blur( 10px ) );
	}
	.review--content {
		display: flex;
		align-items: center;
		width: 100%;
		background: rgba($c-black, 0.85);
		position: relative;
		padding: $gutter*2 $gutter;
	}

	.category {
		margin: $gutter auto;
	}

	.score {
		margin: $gutter*0.5 auto;
	}

	.star {
		width: 24px;
		background-color: $c-white;
	}
}
