@import "../../partials/partials";

#single {
	.banner {
		height: calc(100vh - 42px);
		max-height: none;
		.banner-carousel .item {
			height: calc(100vh - 42px);
			max-height: calc(100vh - 42px);
			background-attachment: fixed;
		}
		.banner-title {
			max-width: 600px;
		}
	}

	.single-content {
		font-family: $f-serif;
		font-size: rem(20);

		b {
			font-weight: bold;
		}

		p {
			margin: $gutter*2 auto;
		}
		> p:first-child::first-letter {
			font-size: 5em;
			line-height: 1.05;
			margin: 0 .1em -.2em 0;
			font-weight: bold;
			display: block;
			float: left;
			text-transform: uppercase;
		}

		@each $name, $color in $colors {
			&.#{$name} {
				> p:first-child::first-letter,
				blockquote {
					color: $color;
				}
				blockquote p:before {
					background-color: $color;
				}
				hr {
					border-color: $color;
				}
			}
		}

		iframe {
			display: block;
			margin: 24px auto;
			max-width: 80%;
			width: 100%;
			height: auto;
		}

		@include bp(false, $s-sm) {
			img, .wp-caption {
				display: block;
				margin: 24px auto;
				max-width: 80%;
				width: 100%;
				height: auto;
			}
		}
		@include bp($s-sm) {
			img, .wp-caption {
				max-width: 100%;
				margin: $gutter*2 auto;
				height: auto;
			}

			.alignleft,
			.alignright,
			.aligncenter,
			.alignnone {
				display: block;
				padding: 0 $gutter*2;
				@include bp(false, $s-md) {
					max-width: 50%;
				}
			}

			.alignleft,
			.alignright {
				max-width: 50%;
			}
			.alignleft {
				float: left;
			}

			.alignright {
				float: right;
			}

			.aligncenter,
			.alignnone {
			}
		}

		iframe {
			@include aspect-ratio(16,9);
			@include bp($s-sm) {
				min-height: 260px;
			}
			@include bp($s-md) {
				min-height: 360px;
			}
			@include bp($s-lg) {
				min-height: 400px;
			}
		}

		blockquote {
			font-size: 1.1em;
			// margin: $gutter*4 auto;
			p {
				position: relative;
				text-align: right;
				padding: 0 $gutter*4;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 24px;
					height: 24px;
					@include svg-mask(image-url("single/quote.svg"));
					background-color: $c-black;
				}
			}

			@include bp($s-sm) {
				&.align--left,
				&.align--center,
				&.align--right {
					max-width: 45%;
				}
				&.align--left {
					float: left;
				}
				&.align--right {
					float: right;
				}
				&.align--center {
					float: none;
				}
			}
		}

		hr {
			border-color: $c-black;
			clear: both;
		}

		ul, ol {
			clear: both;
			padding: 0 $gutter*2;
		}

		ul {
			list-style: disc;
		}
		ol {
			list-style: decimal;
		}

		.wp-caption {
			width: 100%;
			img {
				margin-bottom: 0;
			}
			text-align: center;
			.wp-caption-text {
				margin: 0 auto;
				font-size: rem(16);
			}
		}

		.google-auto-placed {
			margin: $gutter*2 auto;
			display: block;
			iframe {
				max-width: none;
				width: 100%;
				margin: 0 auto;
			}
		}
	}

	.comments {
		background-color: $c-white;
	}
}
