@import "../../partials/partials";
@import "../../blocks/banner";

#single {
	.banner {
		height: calc(100vh - 42px);
		max-height: none;
		.banner-carousel .item {
			height: calc(100vh - 42px);
			max-height: calc(100vh - 42px);
		}
		.banner-title {
			max-width: 600px;
		}
	}
	.author--container,
	.date--container {
		text-align: center;
	}

	@include bp($s-sm) {
		.author--container {
			text-align: left;
		}
		.date--container {
			text-align: right;
		}
	}

	.single-content {
		p {
			margin: $gutter auto;
			&:first-child::first-letter {
				// font-size: 3em;
				font-size: 5em;
				line-height: 1.05;
				margin: 0 .1em -.2em 0;
				font-weight: bold;
				display: block;
				float: left;
				text-transform: uppercase;
			}
		}

		@each $name, $color in $colors {
			&.#{$name} p:first-child::first-letter {
				color: $color;
			}
		}

		img, iframe, .wp-caption {
			display: block;
			margin: $gutter*2 auto;
			max-width: 80%;
		}

		.wp-caption {
			width: 100%;
			text-align: center;
		}
	}

	.comments {
		background-color: $c-white;
	}
}
