mixin feed-links
	li.feed-links
		h3!= $_podcast->name
		nav
			- if ( get_field( "signup_services", $_podcast ) ):
				- foreach( get_field( "signup_services", $_podcast ) as $_service ):
				a.icon( class!=echo('"icon-" . $_service["service"]["value"]') href!=echo('$_service["url"]') title!=echo('__("[:pb]Assinar no[:en]Signnup in[:]") . " " . $_service["service"]["label"]') target="_blank")
					- endforeach
			- endif
			a.icon.icon-rss(href!=echo('get_field( "rss_feed", $_podcast )') title!=echo('__("[:pb]Feed RSS[:en]RSS Feed[:]")') target="_blank")
