@import "../partials/partials"; // Sass partials

.feed-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $gutter/2;
  h3 {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    .img {
      width: 24px;
      height: 24px;
      margin-right: $gutter;
      background: center no-repeat;
      background-size: cover;
    }
  }
  .icon {
    width: 24px;
    background: $c-podcast;
    margin: 0 $gutter/2;
  }
}
