@import "../partials/partials"; // Sass partials

.socials {
  display: flex;
  // height: 100%;
  align-items: center;
  justify-content: space-between;
  .social {
    width: 24px;
    margin: 0 6px;
    background: $c-white;
  }
}
