extends ../page

block template-name
	- // Template Name: Sobre

append styles
	- wp_enqueue_style( 'about-css', get_template_directory_uri() . "/library/css/pages/about.css", array(), null );

block main
	#about
		.title-1.tt--uppercase.t--center.sobre!= get_the_title()
		
		.wrap
			.row
				.col-xs-10.col-xs-offset-1.col-lg-8.col-lg-offset-2
					- wp_reset_postdata()
					.text
						- the_content()
			.cf
			.row
				- foreach( get_field("site_areas") as $area ):
					.col-xs-12.col-sm-4
						+compound-header(echo('$area["title"]'), echo('$area["link"]'))(class!=echo('$area["class"]'))
						.text.t--left.txt!= $area["text"]
				- endforeach 
				.cf
		+support
		.wrap
			.col-xs-12
				+compound-header( "Equipe" )
			.cf
			- foreach ( get_users() as $_user ):
				- if ( !get_field( 'team', "user_{$_user->ID}") ) continue;
					.col-xs-12.col-sm-4
						a.person(href!=echo('get_author_posts_url($_user->ID)') style!=background('get_field( "banner", "user_{$_user->ID}" )', true))
							img.ball(src!=echo('get_avatar_url($_user->ID)') alt!=echo('get_the_author_meta("display_name", $_user->ID)'))
							h1.title-1.t--left.tt--uppercase.c--white.name!= get_the_author_meta('display_name', $_user->ID)
						- $_socials = get_field('socials', "user_{$_user->ID}")
						- include( locate_template( 'layout/socials.php' ) )
						.text!= get_the_author_meta('description', $_user->ID)
			- endforeach
			.cf
