extends ../index

block template-name
	- // Template Name: Sobre

	append styles
		- wp_enqueue_style( 'about-css', get_template_directory_uri() . "/library/css/pages/about.css", false );

block main
	#about
		.title-1.tt--uppercase.t--center.sobre!= get_the_title()
		
		.wrap
			.row
				.col-xs-10.col-xs-offset-1.col-lg-8.col-lg-offset-2
					- wp_reset_postdata()
					.text
						- the_content()
			.cf
			.row
				- foreach( get_field("site_areas") as $area ):
					.col-xs-12.col-sm-4
						+compound-header(echo('$area["title"]'), echo('$area["link"]'))(class!=echo('$area["class"]'))
						.text.t--left.txt!= $area["text"]
				- endforeach 
				.cf
		.help
			h2.title-2.tt--uppercase.t--center Nos ajude a continuar
			a(href="#").btn.btn--black apoie
		.wrap
			+compound-header( "Equipe" )
			.row 
				.col-xs-12.col-sm-4
					.person 
						.ball
						h1.title-1.t--left.tt--uppercase.c--white.titulo lorem ipsum				
					- include( locate_template( 'modules/socials.php' ) )
					.text lorem ipsum eu amo o mozinho coala luci coala
				.col-xs-12.col-sm-4
					.person
						.ball
						h1.title-1.t--left.tt--uppercase.c--white.titulo lorem ipsum
					- include( locate_template( 'modules/socials.php' ) )
					.text lorem ipsum eu amo o mozinho coala luci coala
				.col-xs-12.col-sm-4
					.person
						.ball
						h1.title-1.t--left.tt--uppercase.c--white.titulo  lorem ipsum  
					- include( locate_template( 'modules/socials.php' ) )
					.text lorem ipsum eu amo o mozinho coala luci coala
			.cf
