extends ../page


block template-name
	- // Template Name: Contato

append styles
	- wp_enqueue_style( 'contact-css', get_template_directory_uri() . "/library/css/pages/contact.css", array(), null );

append content	
	#contact.wrap
		.gutter
		.gutter
		.gutter
		.gutter
		.col-xs-12.col-sm-10.col-sm-offset-1
			.t--center
				h3.title-3!= __("[:pb]Nos siga nas redes sociais:[:en]Follow us[:]")
				- include( locate_template( 'modules/socials.php' ) )
		.cf
		.gutter
		.gutter
		.gutter
		.gutter
