extends archive

append styles
	- wp_enqueue_style( 'archive-podcast-css', get_template_directory_uri() . "/library/css/pages/archive/archive-podcast.css", array(), null );	

block categories
	.wrap
		.col-xs-12.col-sm-10.col-md-8.col-sm-offset-1.col-md-offset-2
			#podcast-categories.post-block--container.row.t--center
				block podcast-categories
					- foreach( get_terms( "podcasts" ) as $_podcast ):
						.podcast--container.col-xs-12.col-sm-3
							article.post-block.post-block--square.t--center
								a(href!=echo('get_term_link($_podcast)'))
								.img(style!=background('get_field("logo", $_podcast)', true))
								.content
									a(href!=echo('get_term_link($_podcast)'))
										h2.title-2!= $_podcast->name
					- endforeach
				.cf
block posts
	.wrap
		.row
			.col-xs-12.col-sm-7.col-md-8
				.col-xs-12
					+compound-header( echo('__("[:pb]Episódios[:en]Episodes[:]")'), echo('get_post_type_archive_link( "podcast" )') ).podcast
				.cf
				.post-block--container
					- if( have_posts() ): while( have_posts() ): the_post()
						.col-xs-12.col-sm-6.col-md-4
							- post_block()
					- endwhile;endif
					.cf
				+pagination
			aside.col-xs-12.col-sm-5.col-md-4
				.col-xs-12
					+compound-header( "Feeds", echo('get_post_type_archive_link( "podcast" )') ).podcast
				.cf
				ul.col-xs-12
					- foreach( get_terms( "podcasts" ) as $_podcast ):
						+feed-links
					- endforeach
				.cf
				.visible-xs
					- ad( 'square' )
				.visible-sm
					- ad( 'square2' )
				.hidden-xs.hidden-sm
					- ad( 'wide-skyscraprer' )
			.cf
