extends archive

append styles
	- wp_enqueue_style( 'animate-css', get_template_directory_uri() . "/library/css/third/animate.css", false );
	- wp_enqueue_style( 'owl-carousel', get_template_directory_uri() . "/library/css/third/owl.carousel.css", false );
	- wp_enqueue_style( 'archive-ludokratia-css', get_template_directory_uri() . "/library/css/pages/archive/archive-ludokratia.css", false );	

append scripts
	- wp_enqueue_script( 'owl-carousel', get_template_directory_uri() . '/library/js/libs/owl.carousel.min.js', array ( 'jquery' ), 1.0, true);
	- wp_enqueue_script( 'archive-ludokratia-js', get_template_directory_uri() . '/library/js/pages/archive/archive-ludokratia.min.js', array ( 'jquery' ), 1.0, true);

block banner
	#ludokratia-banner
		.ludokratia-banner-carousel.owl-carousel
			- if( have_posts() ): while( have_posts() ): the_post()
				.item(style!=background( 'get_featured_image()', true ))
			- endwhile;endif
		.ludokratia-banner-container.c--white.t--center.tt--uppercase
			.ludokratia-banner-title
				block ludokratia-banner-title
					h1.title-1!= get_queried_object()->name
