extends index

append styles
	- wp_enqueue_style( 'author-css', get_template_directory_uri() . "/library/css/pages/author.css", array(), null );

block main
	- $_author = get_user_by("slug", get_query_var('author_name') );
	#author
		block banner
			+banner
				h1.title-1.tt--uppercase!= get_the_author_meta( 'display_name' )
				.gutter
				img(src!=echo('get_avatar_url($_author->ID, array("size"=>"120"))') width="120")
				.gutter
				.gutter
					:php
						$_socials = get_field('socials', "user_{$_author->ID}" );
						if ($_socials) include( locate_template( 'modules/socials.php' ) );
				.gutter
				.gutter
				p.text.col-xs-12.col-sm-8.col-sm-offset-2
					!= get_the_author_meta('description', $_author->ID)
		block content
		.gutter
		.gutter
		.wrap
			.row
				- if( have_posts() ): while( have_posts() ): the_post()
					.col-xs-12.col-sm-6.col-md-4
						- post_block()
				- endwhile;else:
				.col-xs-12
					.gutter
					.gutter
					.gutter
					.gutter
					.t--center.text!= __("[:pb]Não há posts deste autor[:en]There is no posts from this author[:]")
					.gutter
					.gutter
					.gutter
					.gutter
				- endif;
				.cf
				+pagination
			.cf
		.gutter
