- wp_footer()

footer#footer
	- if( is_single() ):
		button(title!=echo('__("[:pb]Voltar ao topo[:en]Back to top[:]")')).btn-up.btn.btn--transparent.transition.transform
			.icon.icon-chevron
	- endif
	.wrap
		.row
			.col-xs-12.col-md-2.col-lg-3
				a(href!=echo('home_url()') title!=echo('bloginfo("name")')).logo
					img(src!=image('logo/vertical-logo.svg') alt!=echo('bloginfo("name")'))
			.col-xs-12.col-md-8.col-lg-6
				.menu-container
					:php
						wp_nav_menu(
							array(
								'theme_location'	=> "footer-links",
								'container'			=> "nav",
								'container_class'	=> "accordion accordion-mobile"
							)
						);
			.col-xs-12.col-md-2.col-lg-3
				.buttons-container
					- foreach( get_field("buttons", "options") as $_link ):
						- $_link = $_link["link"]
						a(href!=echo('$_link["url"]') target!=echo('$_link["target"]')).btn.btn--black!= __($_link["title"])
					- endforeach
					
			.cf
		.bottom-footer.row
			.col-xs-12.col-sm-6
				.social-container
					- include( locate_template( 'layout/socials.php' ) )
			.col-xs-12.col-sm-6
				p.disclaimer!= "&copy; ". date("Y") . " " . __("[:pb]Todos os direitos reservados[:en]All rights reserved[:]")
				p.disclaimer!= __("[:pb]Todas as imagens de filmes, jogos, séries e etc são marcas registradas dos seus respectivos proprietários.[:en]All movie images, games, series and etc. are trademarks of their respective owners.[:]")
			.cf
