extends index

append styles
	- wp_enqueue_style( 'home-css', get_template_directory_uri() . "/library/css/pages/home.css", false );

block main
	#home.wrap
		.ad-container
			.visible-xs
				.row
					- ad( 'mobile-leaderboard' )
			.visible-sm
				- ad( 'leaderboard' )
			.visible-md.visible-lg.visible-xl
				- ad( 'large-leaderboard' )
		.live-container
			- include( locate_template( 'modules/live.php' ) )
		.mosaic
			:php
				$_mosaic = get_posts( array(
					'post_type'		=> array('ludokratia', 'post'),
					'numberposts'	=> 6
				));
			- foreach ( $_mosaic as $i => $post ):
				- setup_postdata( $post )
				.mosaic-item
					:php
						post_block( array(
							'variation'	=> (($i == 0 | $i == 3)? "highlight" : false),
							'class'			=> array("post-block--white", ( ( get_post_type() == "ludokratia" )? "post-block--ludokratia" : false ))
						) );
				- wp_reset_postdata()
			- endforeach
		#ludokratia
			+compound-header("Ludokratia").ludokratia
				a(href="#").badge.badge--ludokratia.hidden-xs Gave Dev
				a(href="#").badge.badge--ludokratia.hidden-xs Programação
				a(href="#").badge.badge--ludokratia.hidden-xs Animação
				a(href="#").badge.badge--ludokratia.hidden-xs Marketing
				a(href="#").badge.badge--ludokratia.badge--more ...
			.col-xs-12
				.row
					:php
						$_posts = get_posts( array(
							'post_type'		=> "ludokratia",
							'numberposts'	=> 4
						) )
					- foreach ( $_posts as $post ):
						- setup_postdata( $post )
							.col-xs-12.col-sm-6.col-md-3
								- post_block()
						- wp_reset_postdata()
					- endforeach					
					.cf
			.cf
		#entertainment
			+compound-header("Entretenimento").entertainment
				a(href="#").badge.badge--entertainment.hidden-xs Reviews
				a(href="#").badge.badge--entertainment.hidden-xs Entrevistas
				a(href="#").badge.badge--entertainment.hidden-xs Cinema
				a(href="#").badge.badge--entertainment.hidden-xs Notícias
				a(href="#").badge.badge--entertainment.badge--more ...
			.col-xs-12.col-md-8
				.row
					:php
						$_posts = get_posts( array(
							'post_type'		=> "ludokratia",
							'numberposts'	=> 4
						) )
					- foreach( $_posts as $post ):
						- setup_postdata( $post )
							.col-xs-12
								- post_block( array( 'variation' => "horizontal") )
						- wp_reset_postdata()
					- endforeach
					.col-xs-12.t--center
						a.btn.btn--entertainment(href="#")!= __("[:pb]Ver Mais[:en]See more[:]")
			.col-xs-12.col-md-4
				.visible-xs
					- ad( 'square' )
				.visible-sm
					- ad( 'leaderboard' )
				.hidden-xs.hidden-sm
					- ad( 'half-page' )
			.cf
			.col-md-12.hidden-xs.hidden-sm
				- ad( 'large-leaderboard' )
			.cf
		#podcasts
			.col-xs-12.col-md-8
				+compound-header( "Podcasts" ).podcast
					a(href="#").badge.badge--podcast.hidden-xs Podcasts
				.col-xs-12
					.row
						.col-xs-12.col-sm-3
							- post_block( array( 'variation' => "square", 'author' => false, 'category' => false, 'class' => array( "t--center" ) ) )
						.col-xs-12.col-sm-3
							- post_block( array( 'variation' => "square", 'author' => false, 'category' => false, 'class' => array( "t--center" ) ) )
						.col-xs-12.col-sm-3
							- post_block( array( 'variation' => "square", 'author' => false, 'category' => false, 'class' => array( "t--center" ) ) )
						.col-xs-12.col-sm-3
							- post_block( array( 'variation' => "square", 'author' => false, 'category' => false, 'class' => array( "t--center" ) ) )
				.hidden-xs.hidden-sm
					- ad( 'banner' )
			.col-xs-12.col-sm-8.col-md-4
				+compound-header( "Feeds" ).podcast
				ul
					li.feed-links
						h3 Gamefoss
						nav
							a.icon.icon-facebook(href="#" target="_blank")
							a.icon.icon-itunes(href="#" target="_blank")
							a.icon.icon-rss(href="#" target="_blank")
			.visible-sm.col-sm-4
				- ad( 'skyscraprer' )
			.visible-xs
				- ad( 'square2' )
			.cf
