extends index

append styles
  - wp_enqueue_style( 'home-css', get_template_directory_uri() . "/library/css/pages/home.css", false );

block main
  #home.wrap
    .ad-container
      .visible-xs
        .row
          - ad( 'mobile-leaderboard' )
      .visible-sm
        - ad( 'leaderboard' )
      .visible-md.visible-lg.visible-xl
        - ad( 'large-leaderboard' )
    .live-container
      - include( locate_template( 'modules/live.php' ) )
    .mosaic
      .mosaic-item
        - post_block()
      .mosaic-item
        - post_block( array( 'variation' => "vertical", 'class' => array( "white" ) ) )
      .mosaic-item
        - post_block( array( 'variation' => "vertical", 'class' => array( "white" ) ) )
      .mosaic-item
        - post_block()
      .mosaic-item
        - post_block( array( 'variation' => "vertical", 'class' => array( "white" ) ) )
      .mosaic-item
        - post_block( array( 'variation' => "vertical", 'class' => array( "white" ) ) )
    #ludokratia
      +compound-header("Ludokratia")
      +compound-header("Ludokratia").ludokratia
        a(href="#").btn.btn-black teste
        a(href="#").btn.btn-black teste
        a(href="#").btn.btn-black teste
        a(href="#").btn.btn-black ...
