extends index

append styles
	- wp_enqueue_style( 'home-css', get_template_directory_uri() . "/library/css/pages/home.css", array(), null );

block main
	#home.wrap
		.ad-container
			- if ( wp_is_mobile() ):
				.visible-xs
					.row
						- ad( 'mobile-banner' )
				.visible-sm
					- ad( 'leaderboard' )
		- else:
			.visible-md.visible-lg.visible-xl
				- ad( 'large-leaderboard' )
		- endif
		.live-container
			- include( locate_template( 'layout/live.php' ) )
		.mosaic
			:php
				$_mosaic = get_field( "mosaic" ); // highlighted posts, picked in homepage page
				
				$_exclude_ids = array(); // get theses id's
				
				if ( is_array( $_mosaic ) ) foreach ( $_mosaic as $post ) array_push( $_exclude_ids, $post->ID );
				
				//- Get the rest of posts (a mosaic must have 6 items)
				$_mosaic = array_merge( ( is_array( $_mosaic ) )? $_mosaic : array(), get_posts( array(
					'post_type'				=> array('ludokratia', 'post', 'podcast'),
					'numberposts'			=> 6 - ( ( is_array( $_mosaic ) ) ? sizeof( $_mosaic ) : 0 ),
					'exclude'					=> $_exclude_ids
				)));
				
				//- re-fetch the excluded ids, for others homepage lists
				$_exclude_ids = array(); // get theses id's
				if ( is_array( $_mosaic ) ) foreach ( $_mosaic as $post ) array_push( $_exclude_ids, $post->ID );
			
			- foreach ( $_mosaic as $i => $post ):
				- setup_postdata( $post )
				.mosaic-item
					:php
						post_block( array(
							'variation'	=> (($i == 0 | $i == 3)? "highlight" : false),
							'class'			=> array("post-block--white", ( ( get_post_type() == "ludokratia" )? "post-block--ludokratia" : false ))
						) );
				- wp_reset_postdata()
			- endforeach
		section#ludokratia
			+compound-header("Ludokratia", echo('get_post_type_archive_link( "ludokratia" )') ).ludokratia
				:php
					$_categories = get_terms("ludokratia_categories", array(
						'orderby'			=> "count",
						'order'				=> "DESC",
						'number'			=> 4
					))
				- foreach ( $_categories as $_category ):
					a(href!=echo('get_term_link($_category)')).badge.badge--ludokratia.hidden-xs!= $_category->name
				- endforeach
				a(href!=echo('get_post_type_archive_link( "ludokratia" )')).badge.badge--ludokratia.badge--more ...
			.col-xs-12
				.post-block--container.row
					:php
						$_posts = get_posts( array(
							'post_type'		=> "ludokratia",
							'numberposts'	=> 4,
							'exclude'			=> $_exclude_ids
						) )
					- foreach ( $_posts as $post ):
						- setup_postdata( $post )
							.col-xs-12.col-sm-6.col-md-3
								- post_block()
						- wp_reset_postdata()
					- endforeach					
					.cf
			.cf
		section#entertainment
			+compound-header(echo('__("[:pb]Entretenimento[:en]Entertainment[:]")'), echo('get_post_type_archive_link( "post" )')).entertainment
				:php
					$_categories = get_categories(array(
						'orderby'			=> "count",
						'order'				=> "DESC",
						'number'			=> 4
					))
				- foreach ( $_categories as $_category ):
					a(href!=echo('get_term_link($_category)')).badge.badge--entertainment.hidden-xs!= $_category->name
				- endforeach
				a(href!=echo('get_post_type_archive_link( "post" )')).badge.badge--entertainment.badge--more ...
			.col-xs-12.col-md-8
				.row
					:php
						$_posts = get_posts(array(
							'exclude'			=> $_exclude_ids
						))
					- foreach( $_posts as $post ):
						- setup_postdata( $post )
							.col-xs-12
								- post_block( array( 'variation' => "horizontal") )
						- wp_reset_postdata()
					- endforeach
					.col-xs-12.t--center
						a.btn.btn--entertainment(href!=echo('get_post_type_archive_link( "post" )'))!= __("[:pb]Ver Mais[:en]See more[:]")
			.col-xs-12.col-md-4
				- if ( wp_is_mobile() ):
					.visible-xs
						- ad( 'square' )
						.visible-sm
							- ad( 'leaderboard' )
				- else:
					.hidden-xs.hidden-sm
						- ad( 'half-page' )
				- endif
			.cf
		section#podcasts
			.row
				.col-xs-12.col-sm-7.col-md-8
					.col-xs-12
						+compound-header( "Podcasts", echo('get_post_type_archive_link( "podcast" )') ).podcast
							a(href!=echo('get_post_type_archive_link( "podcast" )')).badge.badge--podcast.hidden-xs Podcasts
					.cf
					.post-block--container
						- foreach( get_terms( "podcasts" ) as $_podcast ):
							.col-xs-12.col-sm-4.col-md-3
								article.post-block.post-block--square.t--center
									a(href!=echo('get_term_link($_podcast)'))
									.img(style!=background('get_field("logo", $_podcast)', true))
									.content
										a(href!=echo('get_term_link($_podcast)'))
											h2.title-2!= $_podcast->name
						- endforeach
						.cf
				aside.col-xs-12.col-sm-5.col-md-4
					.col-xs-12
						+compound-header( "Feeds", echo('get_post_type_archive_link( "podcast" )') ).podcast
					.cf
					ul.col-xs-12
						- foreach( get_terms( "podcasts" ) as $_podcast ):
							+feed-links
						- endforeach
					.cf
				.cf
				- if ( wp_is_mobile() ):
					.visible-xs
						- ad( 'square' )
				- else:
					.hidden-xs
						- ad( 'leaderboard' )
				- endif
			.cf
