extends index

append styles
	- wp_enqueue_style( 'home-css', get_template_directory_uri() . "/library/css/pages/home.css", false );

block main
	#home.wrap
		.ad-container
			.visible-xs
				.row
					- ad( 'mobile-leaderboard' )
			.visible-sm
				- ad( 'leaderboard' )
			.visible-md.visible-lg.visible-xl
				- ad( 'large-leaderboard' )
		.live-container
			- include( locate_template( 'modules/live.php' ) )
		.mosaic
			.mosaic-item
				- post_block( array( 'variation' => "highlight") )
			.mosaic-item
				- post_block( array('class' => array( "post-block--white" ) ) )
			.mosaic-item
				- post_block( array('class' => array( "post-block--white" ) ) )
			.mosaic-item
				- post_block( array( 'variation' => "highlight") )
			.mosaic-item
				- post_block( array('class' => array( "post-block--white", "post-block--ludokratia" ) ) )
			.mosaic-item
				- post_block( array('class' => array( "post-block--white" ) ) )
		#ludokratia
			+compound-header("Ludokratia").ludokratia
				a(href="#").badge.badge--black.hidden-xs Gave Dev
				a(href="#").badge.badge--black.hidden-xs Programação
				a(href="#").badge.badge--black.hidden-xs Animação
				a(href="#").badge.badge--black.hidden-xs Marketing
				a(href="#").badge.badge--black.badge--more ...
			.col-xs-12
				.row
					.col-xs-12.col-sm-6.col-md-3
						- post_block()
					.col-xs-12.col-sm-6.col-md-3
						- post_block()
					.col-xs-12.col-sm-6.col-md-3
						- post_block()
					.col-xs-12.col-sm-6.col-md-3
						- post_block()
					.cf
		#entertainment
			+compound-header("Entretenimento")
				a(href="#").badge.badge--red.hidden-xs Reviews
				a(href="#").badge.badge--red.hidden-xs Entrevistas
				a(href="#").badge.badge--red.hidden-xs Cinema
				a(href="#").badge.badge--red.hidden-xs Notícias
				a(href="#").badge.badge--red.badge--more ...
			.col-xs-12.col-md-8
				.row
					.col-xs-12
						- post_block( array( 'variation' => "horizontal") )
					.col-xs-12
						- post_block( array( 'variation' => "horizontal", 'class' => array( "post-block--highlight" ) ) )
					.col-xs-12
						- post_block( array( 'variation' => "horizontal") )
					.col-xs-12
						- post_block( array( 'variation' => "horizontal") )
					.cf
					.col-xs-12
						a.btn.btn--red(href="#").pull-right Ver Mais
			.col-xs-12.col-md-4
				.visible-xs
					- ad( 'square' )
				.visible-sm
					- ad( 'leaderboard' )
				.hidden-xs.hidden-sm
					- ad( 'half-page' )
			.cf
			.col-md-12.hidden-xs.hidden-sm
				- ad( 'large-leaderboard' )
			.cf
		#podcasts
			.col-xs-12.col-md-8
				+compound-header( "Podcasts" )
					a(href="#").badge.badge--red.hidden-xs Podcasts
				.col-xs-12
					.row
						.col-xs-12.col-sm-3
							- post_block( array( 'variation' => "square", 'author' => false, 'category' => false, 'class' => array( "t--center" ) ) )
						.col-xs-12.col-sm-3
							- post_block( array( 'variation' => "square", 'author' => false, 'category' => false, 'class' => array( "t--center" ) ) )
						.col-xs-12.col-sm-3
							- post_block( array( 'variation' => "square", 'author' => false, 'category' => false, 'class' => array( "t--center" ) ) )
						.col-xs-12.col-sm-3
							- post_block( array( 'variation' => "square", 'author' => false, 'category' => false, 'class' => array( "t--center" ) ) )
				.hidden-xs.hidden-sm
					- ad( 'banner' )
			.col-xs-12.col-sm-8.col-md-4
				+compound-header( "Feeds" )
			.visible-sm.col-sm-4
				- ad( 'skyscraprer' )
			.visible-xs
				- ad( 'square2' )
			.cf
