extends archive

append styles
	- wp_enqueue_style( 'archive-entertainment-css', get_template_directory_uri() . "/library/css/pages/archive/archive-entertainment.css", false );	

block banner
	#archive-mosaic.mosaic
		:php
			$_mosaic = get_field( "mosaic" ); // highlighted posts, picked in homepage page
			
			$_exclude_ids = array(); // get theses id's
			
			if ( is_array( $_mosaic ) ) foreach ( $_mosaic as $post ) array_push( $_exclude_ids, $post->ID );
			
			//- Get the rest of posts (a mosaic must have 6 items)
			$_mosaic = array_merge( ( is_array( $_mosaic ) )? $_mosaic : array(), get_posts( array(
				'post_type'				=> array( 'post' ),
				'numberposts'			=> 6 - ( ( is_array( $_mosaic ) ) ? sizeof( $_mosaic ) : 0 ),
				'exclude'					=> $_exclude_ids
			)));
			
			//- re-fetch the excluded ids, for others homepage lists
			$_exclude_ids = array(); // get theses id's
			if ( is_array( $_mosaic ) ) foreach ( $_mosaic as $post ) array_push( $_exclude_ids, $post->ID );
		
		- foreach ( $_mosaic as $i => $post ):
			- setup_postdata( $post )
			.mosaic-item
				:php
					post_block( array(
						'variation'	=> (($i == 0 | $i == 3)? "highlight" : false),
						'class'			=> array("post-block--white", ( ( get_post_type() == "ludokratia" )? "post-block--ludokratia" : false ))
					) );
			- wp_reset_postdata()
		- endforeach
	
