include blocks/_mixins

doctype html

block template-name

block variables

block query

head
	- wp_head();
	
	block title
		title!=wp_title( "|" )
		
	block meta
		- get_template_part( 'layout/meta', 'meta' )

	block favicon
		- get_template_part( 'layout/favicon', 'favicon' )
	
	block styles

	block analytics
		- get_template_part( 'layout/analytics/analytics', 'analytics' )
	
	block adsense
		- get_template_part( 'layout/google/adsense', 'adsense' )

body("<?php body_class(); ?>" style="overflow:hidden")
	
	block header
		- get_header()
	
	block wrapper
		- include( locate_template( 'layout/loader.php' ) )
		#wrapper
			main
				block main
					h1 hello world, finally!
	
	block scripts
	
	block footer
		- get_footer()
