extends index

append styles
	- wp_enqueue_style( 'owl-carousel', get_template_directory_uri() . "/library/css/third/owl.carousel.css", false );
	- wp_enqueue_style( 'single-css', get_template_directory_uri() . "/library/css/pages/single/single.css", false );	

append scripts
	- wp_enqueue_script( 'owl-carousel-js', get_template_directory_uri() . '/library/js/libs/owl.carousel.min.js', array ( 'jquery' ), 1.0, true);
	- wp_enqueue_script( 'banner-js', get_template_directory_uri() . '/library/js/blocks/banner.min.js', array ( 'jquery' ), 1.0, true);

block main
	article#single
		block banner
			+banner
				h3.title-3
					a(href!=echo('get_post_type_archive_link( get_post_type() )'))
						:php
							switch( get_post_type() ) {
								case "post": 
									echo __("[:pb]Entretenimento[:en]Entertainment[:]");
									break;
								case "podcast":
									echo "Podcasts";
									break;
								default:
									echo get_post_type();
									break;					
							}
					| &nbsp;/&nbsp;
					:php
						//- get taxonomy from post type
						switch( get_post_type() ) {
							case "ludokratia":
								$_taxonomy = "ludokratia_categories";
								break;
							case "podcast":
								$_taxonomy = "podcasts";
								break;
							default:
								$_taxonomy = "category";
								break;
						}
						
						//- get category from post and taxonomy
						$_category = get_the_terms(the_post(), $_taxonomy);
						
						//- only one term
						$_category = reset( $_category );					
					a(href!=echo('get_term_link($_category)') title!=echo('$_category->name'))!= $_category->name					
				br
		
		.wrap
			.col-xs-12.col-sm-10.col-sm-offset-1
				.gutter
				.row
					.author--container.col-xs-12.col-sm-6
						block author
							:php
								$_author = (object) array(
								'avatar'		=> get_avatar_url( get_the_author_meta( 'ID' ) ),
								'name'			=> get_the_author_meta( 'display_name' ),
								'nickname'	=> "@" . get_the_author_meta( 'nickname' ),
								'href'			=> get_author_posts_url( get_the_author_meta( 'ID' ) )
								);
							a(href!=echo('$_author->href') title!=echo('$_author->nickname')).author
								img(src!=echo('$_author->avatar') alt!=echo('$_author->nickname'))
								!= "<strong>{$_author->name}</strong>&nbsp;|&nbsp;{$_author->nickname}"
					.date--container.col-xs-12.col-sm-6
						block date
							strong.date!= get_the_date('d/m/Y')
					.cf
				.gutter
			.cf
			.col-xs-12.col-sm-8.col-sm-offset-2			
				block excerpt
					.gutter
					.gutter
					.gutter
					.gutter
					.excerpt.f--open.t--center
						em!= get_the_excerpt()
				.gutter
					
				.gutter
			
			.col-xs-12.col-sm-10.col-sm-offset-1
				.single-content.text
					- the_content()
			.cf
		
		block content
