append styles
	- wp_enqueue_style( 'post-block-css', get_template_directory_uri() . "/library/css/modules/post-block.css", false )
article.post-block(class!=echo('"{$options[\'variation\']} " . implode( " ", $options["class"] )'))
	a(href="#")
	.img(style!=background('"https://www.placecage.com/". rand(600, 700) ."/600"', true))
	.content
		a(href="#" title="category").category.badge.badge--black category
		h2.title-2 lorem dolor sit amet
		a(href="#" title="@dihgg").author
			img(src!=image('test/dihgg.png') alt="")
			| @dihgg
