append styles
	- wp_enqueue_style( 'post-block-css', get_template_directory_uri() . "/library/css/modules/post-block.css", false )

append scripts
	- wp_enqueue_script( 'post-block-js', get_template_directory_uri() . '/library/js/modules/post-block.min.js', array ( 'jquery' ), 1.0, true);
:php
	switch( get_post_type() ) {
		case "ludokratia":
			$_taxonomy = "ludokratia_categories";
			break;
		case "podcast":
			$_taxonomy = "podcasts";
			break;
		default:
			$_taxonomy = "category";
			break;
	}
	$_cat = get_the_terms(get_the_ID(), $_taxonomy);
	$_cat = reset($_cat);

article.post-block(class!=echo('"post-block--{$options[\'variation\']}" . " " . implode( " ", $options["class"] )'))
	a(href!=echo('get_the_permalink()') title!=echo('get_the_title()'))
	.img(style!=background('get_featured_image()', true))
	.content
		- if ( $options['category'] ):
			a(href!=echo('get_term_link($_cat->term_id, $_taxonomy)') title!=echo('$_cat->name') class!=echo('"badge--" . get_post_type() ')).category.badge!= $_cat->name
		- endif
		h2.title-2!= get_the_title()
		- if ( $options['author'] ):
			:php
				switch( get_post_type() ) {
					case "podcast":
						break;
					default:
						$_author = (object) array(
							'avatar'		=> get_avatar_url( get_the_author_meta( 'ID' ) ),
							'nickname'	=> "@" . get_the_author_meta( 'nickname' ),
							'href'			=> get_author_posts_url( get_the_author_meta( 'ID' ) )
						);
						break;
				}
			- if ( isset( $_author ) ):
				a(href!=echo('$_author->href') title!=echo('$_author->nickname')).author
					img(src!=echo('$_author->avatar') alt!=echo('$_author->nickname'))
					!= $_author->nickname
			- endif
		- endif
:php
	$_taxonomy	= NULL;
	$_author		= NULL;
	$options		= NULL;
	$_cat				= NULL;
	
