.accordion {
	.current-menu-item {
		> a:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 2px;
			left: 0;
			bottom: -2px;
		}
	}
	.menu-item-has-children:not(.no-accordion) {
		cursor: pointer;
		&:after {
			position: absolute;
			content: "";
			width: 20px;
			height: 20px;
			top: 0;
			right: 24px;
			background: image-url('icons/arrow.svg') center no-repeat;
			background-size: contain;
			will-change: transform;

			@include transition(transform $transition-default);
		}
		&.open:after {
			@include transform(rotate(180deg));
		}
		> * {
			cursor: default;
		}
	}
	li:not(.no-accordion) {
		position: relative;
		.sub-menu {
			overflow: hidden;
			height: 0;
			@include transition(height $transition-default);
			will-change: height;
			margin-left: 20px;
			li {
				margin: 12px 0;
			}
			.current-menu-item {
				> a:after {
					display: none;
				}
			}
		}
		> ul.menu > li {
			// margin: 12px auto;
			position: relative;
			@media only screen and (max-width: $s-sm - 1px) {
				position: relative;
			}
			@media only screen and (min-width: $s-xl) {
				margin-bottom: 30px;
			}
		}
	}
	&.accordion-black {
		.menu-item-has-children:after {
			background-color: $c-black;
		}
	}
	@mixin clear-accordion {
		.menu-item-has-children:after {
			display: none;
		}
		li .sub-menu {
			margin: 0 auto;
			height: auto !important;
			overflow: visible;
		}
		>ul.menu>li {
			margin-bottom: 0;
		}
	}
	@include bp($s-sm) {
		&.accordion-mobile {
			@include clear-accordion;
		}
	}
	@include bp($s-md) {
		&.accordion-sm {
			@include clear-accordion;
		}
	}
}
