.btn {
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: $f-roboto;
  font-size: 16px;
  font-weight: lighter;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 $gutter*2;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;

  // BUTTON COLORS
  @each $name, $bg-color in $colors {
    &.btn--#{$name} {
      background: $bg-color;
      color: $c-white;
    }
  }
  // DECORATION
  &:not(.btn--transparent):after {
    content: "";
    position: absolute;
    background: $c-white;
    width: 12px;
    height: 12px;
    right: -6px;
    bottom: -6px;
    @include transform(rotate(45deg));
  }
}
