footer#footer {
  background-color: $c-menu;
  padding-top: 24px;
  padding-bottom: 12px;
  position: relative;
  .btn.btn-up {
    position: fixed;
    right: $gutter;
    bottom: $gutter*2;
    @include transform(translate3d(0,72px,0));
    z-index: 9;
    .icon {
      width: 24px;
      height: 24px;
      background: $c-black;
    }
    &.show {
      @include transform(translate3d(0,0px,0));
    }
  }

  .logo {
    margin: 0 auto;
    margin-bottom: 48px;
    display: block;
    @include bp($s-md){
      margin: 12px auto 48px;
    }
    img {
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 200px;
    }
  }

  .bottom-footer {
    @include bp($s-lg) {
      padding: 0 72px;
    }
  }
  .disclaimer{
    font-family: $f-open;
    font-weight: lighter;
    font-size: 12px;
    color: white;
    text-align: center;
    // line-height: 24px;
    min-height: 24px;
    margin: $gutter auto;
    @include bp($s-sm){
      text-align: right;
    }
  }

  .buttons-container{
    text-align: center;
    margin-bottom: 48px;
    @include bp($s-sm){
      width: 100%;
      max-width: 600px;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-bottom: 48px;
    }
    @include bp($s-md){
      display: block;
      margin-right: 48px;
      margin-top: 0;
    }
    .btn{
      display: block;
      width: 100%;
      max-width: 190px;
      margin: 0 auto 12px;
      }
    }
    .social-container{
      width: 100%;
      max-width: 190px;
      margin: 0 auto;
      margin-bottom: 24px;
      @include bp($s-sm){
        margin: 0;
      }
    }

  .menu-container {
    margin: 0 auto 48px;
    @include bp($s-sm) {
      .menu {
        display: flex;
        justify-content: space-around;
      }
    }
    @include bp($s-lg) {
      margin-bottom: 96px;
    }
    li {
      color: $c-white;
      margin: 12px auto;
      font-size: rem(18);
      text-transform: uppercase;
      &.menu-item-has-children >a ,
      &.no-accordion a {
        font-weight: bold;
      }
    }
  }
}
