* {
  box-sizing: border-box;
}

body {
  background: $c-bg;
}

/* ==== ==== ==== BACKGROUND ==== ==== ==== */
@each $name, $color in $colors {
  .bg--#{$name} {
    background-color: $color;
  }
}

.gutter {
  display: block;
  height: $gutter;
}
