header#header {
	background: $c-menu;
	padding: 6px 0;
	color: $c-white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;

	.logo img {
		margin-top: 2px;
	}

	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	button {
		width: 24px;
		padding: 0;
	}

	.icon {
		background: $c-white;
		height: 100%;
	}

	.btn-menu-mobile {
		width: 24px;
		padding: 0;
	}


	.menu-container {

		.menu {
			text-transform: uppercase;
		}

		@include bp(false, $s-md) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			z-index: -1;
			background: rgba($c-black, 0.95);
			@include transition(opacity $transition-default);
			@include opacity(0);
			@include transform(translate3d(-100%, 0, 0));
			overflow: hidden;

			.btn-close {
				position: absolute;
				top: $gutter/2;
				left: $gutter/2;
				z-index: 1;
				@include transform(translate3d(-100%,0,0));
				.icon {
					background: $c-black;
				}
			}

			.menu-nav {
				height: 100vh;
			}

			.menu, .mobile-socials {
				width: 100%;
				max-width: 240px;
			}

			.menu {
				height: 100%;
				padding: $gutter * 3 $gutter;
				background: $c-white;
				box-shadow: 1px 1px 1px rgba($c-black, 0.95);
				@include transform(translate3d(-100%,0,0));
				color: $c-black;
				li {
					margin: 12px auto;
				}
			}

			.mobile-socials {
				position: absolute;
				bottom: 0;
				height: 48px;
				background: $c-white;
				padding: 12px;
				@include transform(translate3d(-100%,0,0));
				.icon {
					background: $c-menu;
				}
			}

			&.show {
				z-index: 10;
				@include transform(translate3d(0%, 0, 0));
			}
			&.opened {
				@include opacity(1);
				.btn-close {
					@include transform(translate3d(0,0,0));
				}
				.menu {
					@include transform(translate3d(0%,0,0));
				}
				.mobile-socials {
					@include transform(translate3d(0,0,0));
				}
			}
		}

		@include bp($s-md) {
			.btn-close {
				display: none;
			}
			.menu {
				display: flex;
				justify-content: flex-start;
				li {
					margin: 0 12px;
					@include fluid-type(16, 18);
				}
			}
		}

	}

	.socials {
		height: 24px;
		@include opacity(1);
		@include transition(opacity $transition-default);
		&.hide {
			@include opacity(0);
		}
	}

	.search-header {
		z-index: 9;
		.overlay {
			position: fixed;
			width: 100%;
			height: 100%;
			// background: rgba($c-white, 0.85);
			left: 0;
			top: 0;
			z-index: -10;
			// @include opacity(0);
			@include transition(transform $transition-default);
			@include transform(translate3d(100%,0,0));
			cursor: pointer;
		}
		.input-search {
			width: 0;
			height: 100%;
			overflow: hidden;
			position: absolute;
			right: 0;
		}
		&.opened {
			.overlay {
				// @include opacity(1);
				@include transform(translate3d(0,0,0));
			}
			.input-search {
				width: 296px;
			}
			button .icon {
				background-color: $c-black;
			}
		}
	}

	@include bp(false, $s-md) {
		.logo {
			position: fixed;
			left: 50%;
			margin-left: -60px;
			@include transition(left $transition-default, margin-left $transition-default);
		}

		&.menu-mobile-open .logo {
			// position: fixed;
			// left: 50%;
			// margin-left: -60px;
			z-index: 11;
		}
		&.menu-mobile-opened .logo {
			left: 0%;
			margin-left: 60px;
		}
	}
}
