header#header {
  background: $c-menu;
  padding: 6px 0;
  color: $c-white;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include bp($s-md) {
      display: grid;
      grid-template-columns: 120px auto 200px 24px;
      justify-content: normal;
      grid-gap: 0 24px;
    }
  }

  button {
    width: 24px;
    padding: 0;
  }

  .icon {
    background: $c-white;
    height: 100%;
  }

  .btn-menu-mobile {
    width: 24px;
    padding: 0;
  }


  .menu-container {

    .menu {
      text-transform: uppercase;
    }

    @include bp(false, $s-md) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      background: rgba($c-black, 0.95);
      @include transition(opacity $transition-default);
      @include opacity(0);
      overflow: hidden;

      .btn-close {
        position: absolute;
        top: 24px;
        left: 240px - 24px - 24px;
        z-index: 1;
        @include transform(translate3d(100%,0,0));
        .icon {
          background: $c-black;
        }
      }

      .menu-nav {
        height: 100vh;
      }

      .menu, .mobile-socials {
        width: 100%;
        max-width: 240px;
      }

      .menu {
        height: 100%;
        padding: $gutter * 2;
        background: $c-white;
        box-shadow: 1px 1px 1px rgba($c-black, 0.95);
        @include transform(translate3d(-100%,0,0));
        color: $c-black;
        li {
          margin: 12px auto;
        }
      }

      .mobile-socials {
        position: absolute;
        bottom: 0;
        height: 48px;
        background: $c-white;
        padding: 12px;
        @include transform(translate3d(-100%,0,0));
        .icon {
          background: $c-menu;
        }
      }

      &.show {
        z-index: 10;
      }
      &.opened {
        @include opacity(1);
        .btn-close {
          @include transform(translate3d(0,0,0));
        }
        .menu {
          @include transform(translate3d(0%,0,0));
        }
        .mobile-socials {
          @include transform(translate3d(0,0,0));
        }
      }
    }

    @include bp($s-md) {
      .btn-close {
        display: none;
      }
      .menu {
        display: flex;
        justify-content: flex-start;
        li {
          margin: 0 12px;
          @include fluid-type(16, 18);
        }
      }
    }

  }

  .socials {
    height: 24px;
    @include opacity(1);
    @include transition(opacity $transition-default);
    &.hide {
      @include opacity(0);
    }
  }

  .search-header {
    .input-search {
      width: 0;
      height: 100%;
      overflow: hidden;
      position: absolute;
      right: 0;
    }
    &.opened {
      .input-search {
        width: 296px;
      }
      button .icon {
        background-color: $c-black;
      }
    }
  }
}
