.icon {
  display: inline-block;
  width: 100%;
  max-width: 50px;
  height: 24px;
  margin: 0 auto;
  background: center no-repeat;
  background-size: contain;
  font-size: 24px;
  @each $name, $file in (
  ('facebook', 'facebook')
  ('external-link', 'external-link')
  ('search', 'search')
  ('menu-mobile', 'mobile-menu')
  ('close', 'close')
  ('rss', 'rss')
  ('itunes', 'itunes')
  ('facebook','socials/facebook')
  ('twitter', 'socials/twitter')
  ('instagram', 'socials/instagram')
  ('youtube', 'socials/youtube')
  ('twitch', 'socials/twitch')
  ) {
    &.icon-#{$name} {
      @include svg-mask(image-url('icons/#{$file}.svg'));
    }
  }
}
