@include font-face(
	"Roboto",
	font-files(
		"Roboto/Roboto-Regular.woff",
		"Roboto/Roboto-Regular.ttf",
		"Roboto/Roboto-Regular.otf",
		"Roboto/Roboto-Regular.svg"),
	"Roboto/Roboto-Regular.eot",
	normal,
	none
);

@include font-face(
	"Roboto",
	font-files(
		"Roboto/Roboto-Bold.woff",
		"Roboto/Roboto-Bold.ttf",
		"Roboto/Roboto-Bold.otf",
		"Roboto/Roboto-Bold.svg"),
	"Roboto/Roboto-Bold.eot",
	bold,
	normal
);

@include font-face(
	"Roboto",
	font-files(
		"Roboto/Roboto-Light.woff",
		"Roboto/Roboto-Light.ttf",
		"Roboto/Roboto-Light.otf",
		"Roboto/Roboto-Light.svg"),
	"Roboto/Roboto-Light.eot",
	lighter,
	normal
);

@include font-face(
	"Open Sans",
	font-files(
		"Open-sans/OpenSans-Regular.woff",
		"Open-sans/OpenSans-Regular.ttf",
		"Open-sans/OpenSans-Regular.otf",
		"Open-sans/OpenSans-Regular.svg"),
	"Open-sans/OpenSans-Regular.eot",
	normal,
	normal
);

@include font-face(
	"Open Sans",
	font-files(
		"Open-sans/OpenSans-Light.woff",
		"Open-sans/OpenSans-Light.ttf",
		"Open-sans/OpenSans-Light.otf",
		"Open-sans/OpenSans-Light.svg"),
	"Open-sans/OpenSans-Light.eot",
	lighter,
	normal
);

@include font-face(
	"Open Sans",
	font-files(
		"Open-sans/OpenSans-Bold.woff",
		"Open-sans/OpenSans-Bold.ttf",
		"Open-sans/OpenSans-Bold.otf",
		"Open-sans/OpenSans-Bold.svg"),
	"Open-sans/OpenSans-Bold.eot",
	bold,
	normal
);

html, body {
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $f-roboto;
}

h1, h2, h3 {
	font-weight: bold;
}

.title-1,
.title-2,
.title-3 {
	font-weight: bold;
}
.title-1 {
	@include fluid-type(24, 36);
}

.title-2 {
	@include fluid-type(18, 24);
}

.title-3 {
	@include fluid-type(16, 18);
}

a {
	text-decoration: none;
	color: inherit;
}

@each $transform in (
	uppercase,
	lowercase,
	capitalize
) {
	.tt--#{$transform} {
		text-transform: $transform;
	}
}

.text {
	font-family: $f-open;
	font-weight: lighter;
	font-size: rem(16);
}

.tag {
	font-family: $f-roboto;
	font-weight: lighter;
	font-size: rem(14);
	&:before {
		content: "#";
	}
}

@each $pos in (left, center, right, justify) {
	.t--#{$pos} {
		text-align: $pos;
	}
}
