extends archive

append variables
	:php
		$_post_type = get_taxonomy( get_queried_object()->taxonomy )->object_type[0];

prepend banner-title
	h2.title-2.tt--uppercase
		a(href!=echo('get_post_type_archive_link( get_post_type() )'))
			:php
				switch( get_post_type() ) {
					case "post": 
						echo __("[:pb]Entretenimento[:en]Entertainment[:]");
						break;
					case "podcast":
						echo "Podcasts";
						break;
					default:
						echo get_post_type();
						break;					
				}
	br
