
:php
	$live = get_field ( 'live', get_option( 'page_on_front' ) );
	if ( is_array( $live ) ) $live = reset( $live );

- if ( $live ):
	//- append styles
	- wp_enqueue_style( 'inline-live-css', get_template_directory_uri() . "/library/css/modules/live.css", array(), null );
	a.live(href="#" target="_blank")
		.img(style!=background('$live["image"]',true))
		.live-content
			.live-badge-container
				.live-badge!= __("[:pb]Ao Vivo[:en]Live[:]")
			.cf
			h2.title-3!= $live['title']
			span.icon.external-link(href!=echo('$live["url"]'))
- endif
- $live = NULL
