- if ( is_single() ):
	- wp_reset_postdata()
	meta(name='description' content!=echo('get_the_excerpt()'))
	meta(property="fb:app_id" content!=echo('get_field("fb_app_id", "option")'))
	meta(property='og:description' content!=echo('get_the_excerpt()'))
	meta(property='og:image' content!=echo('get_featured_image()'))
	meta(property='og:site_name' content!=echo('bloginfo("name")'))
	meta(property='og:title' content!=echo('get_the_title()'))
	meta(property='og:type' content='article')
	meta(property='og:url' content!=echo('get_the_permalink()'))
	meta(name='twitter:card' content='summary_large_image')
	meta(name='twitter:url' content!=echo('get_the_permalink()'))
	meta(name='twitter:title' content!=echo('get_the_title()'))
	meta(name='twitter:description' content!=echo('get_the_excerpt()'))
	meta(name='twitter:image' content!=echo('get_featured_image()'))
	meta(name='twitter:site' content!=echo('bloginfo("name")'))

- else:
	meta(property="og:url" content!=echo(' get_site_url() '))
	meta(property="og:type" content="website")
	meta(property="og:title" content!=echo(' bloginfo( "name" ) '))
	meta(property="og:description" content!=echo(' bloginfo( "description" ) '))
	meta(property="og:image" content!=image( 'share-image.jpg' ))
- endif
