meta(property="og:url", content!=echo(' get_site_url() '))
meta(property="og:type", content="website")
meta(property="og:title", content!=echo(' bloginfo( "name" ) '))
meta(property="og:description", content!=echo(' bloginfo( "description" ) '))
meta(property="og:image", content!=image( 'share-image.jpg' ))