@import "../../partials/partials";

#archive {
	#ludokratia-banner {
		@include aspect-ratio(16,9);
		background: $c-black;
		max-height: 60vh;
		position: relative;
		overflow: hidden;
		.ludokratia-banner-carousel,
		.ludokratia-banner-container {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.ludokratia-banner-carousel {
			.item {
				background: center no-repeat;
				background-size: cover;
				height: 100vh;
				max-height: 60vh;
				@include filter( blur( 10px ) );
			}
		}
		.ludokratia-banner-container {
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba($c-black, 0.85);
			z-index: 1;
		}
	}
}
