//- 834597710242512
//- fb_pixel
- if ( get_field('fb_pixel', 'options') ):
	script.
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', <?php echo get_field('fb_pixel', 'options') ?>);
		fbq('track', 'PageView');
	noscript
		img(height="1" width="1" style="display:none" src!=echo('"https://www.facebook.com/tr?id=" . get_field("fb_pixel", "options") . "&ev=PageView&noscript=1"'))
- endif
#fb-root
script.
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s);
	js.id = id;
	js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2';
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));


- if ( get_field('fb_app_id', 'option') ):
	script.
		window.fbAsyncInit = function() {
			FB.init({
				appId            : <?php echo get_field( "fb_app_id", "option" ) ?>,
				autoLogAppEvents : true,
				xfbml            : true,
				version          : 'v3.2'
			});
		};
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
- endif
