
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-117664776-1")
script(type="text/javascript").
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-117664776-1');
	gtag('config', 'UA-117664776-2');