- if ( get_field('google_analytics', 'option') ):
	script(async src="https://www.googletagmanager.com/gtag/js")
	script(type="text/javascript").
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		<?php foreach ( get_field('google_analytics', 'option') as $ga ): ?>
			gtag('config', '<?php echo $ga["id"] ?>');
		<?php endforeach ?>
- endif
