.mosaic {
  height: 100vh;
  margin: $gutter*2 auto $gutter*4;
  display: grid;
  grid-gap: $gutter $gutter;
  grid-template-columns: auto;
  grid-template-rows:  repeat(6, 1fr);
  grid-template-areas:
    'mi-1'
    'mi-2'
    'mi-3'
    'mi-4'
    'mi-5'
    'mi-6';
  @include bp($s-sm) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    grid-template-areas:
      'mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-2 mi-2 mi-2 mi-2 mi-2'
      'mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-3 mi-3 mi-3 mi-3 mi-3'
      'mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4'
      'mi-5 mi-5 mi-5 mi-5 mi-5 mi-5 mi-6 mi-6 mi-6 mi-6 mi-6 mi-6';
  }
  @include bp($s-md) {
    max-height: 800px;
    grid-template-rows:  repeat(3, 1fr);
    grid-template-areas:
      'mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-2 mi-2 mi-2 mi-2'
      'mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-3 mi-3 mi-3 mi-3'
      'mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-5 mi-5 mi-5 mi-6 mi-6 mi-6';
  }
  .mosaic-item {
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        grid-area: mi-#{$i};
      }
    }
  }
}
