.mosaic {
  margin: $gutter*2 auto $gutter*4;
  display: grid;
  grid-gap: $gutter $gutter;
  grid-template-columns: auto;
  grid-template-rows:  repeat(6, 1fr);
  min-height: calc(100vh - 90px - 42px - 24px);
  grid-template-areas:
    'mi-1'
    'mi-2'
    'mi-3'
    'mi-4'
    'mi-5'
    'mi-6';
  @include bp($s-sm) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    grid-template-areas:
      'mi-5 mi-5 mi-5 mi-5 mi-5 mi-5 mi-6 mi-6 mi-6 mi-6 mi-6 mi-6'
      'mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-2 mi-2 mi-2 mi-2 mi-2'
      'mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-3 mi-3 mi-3 mi-3 mi-3'
      'mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4';
  }
  @include bp($s-md) {
    grid-template-rows:  repeat(3, 1fr);
    grid-template-areas:
      'mi-1 mi-1 mi-1 mi-1 mi-1 mi-1 mi-2 mi-2 mi-2 mi-3 mi-3 mi-3'
      'mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-5 mi-5 mi-5 mi-5'
      'mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-4 mi-6 mi-6 mi-6 mi-6';
  }
  .mosaic-item {
	.post-block {
		grid-template-rows: 0.45fr 1fr;
	}
    .img:before {
      display: none;
    }
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        grid-area: mi-#{$i};
      }
    }
  }
}
