@import "../partials/partials"; // Sass partials

.support {
	background-color: #999999;
	width: 100%;
	padding: $gutter*2 0;
	.btn--container {
		text-align: center;
	}
	.btn {
		width: 180px;
		display: inline-block;
		margin: $gutter*2 $gutter/2;
		margin-bottom: 0;
	}
}
